<!DOCTYPE html>  
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./dist/style.css" />
        <title>Flappy Fish</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: black; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
         .logo {
       color:
white;

text-align: center;

font-size: 30px;

padding: 10px;

border-bottom: 1px solid rgba(255,255,255,0.8);

font-family: Carla;}
    </style>


      <!--Check if text was written-->
      <script type="text/javascript">
        function CheckWritten1(){
        var element=document.getElementById('wrong2');
        element.style.display='block';
        }
      </script>
      <script type="text/javascript">
        function CheckWritten2(){
        var element=document.getElementById('wrong3');
        element.style.display='block';
        }
      </script>
      <script type="text/javascript">
        function CheckWritten3(){
        var element=document.getElementById('wrong4');
        element.style.display='block';
        }
      </script>

    </head>

    <body>
    
    <aside class="fixed bg-sidebar h-screen w-64 hidden sm:block shadow-xl font-size" style="left:0; top : 0;">
        <nav class="text-white text-base font-semibold pt-3">
            <div class='logo font-normal'>Flappy Fish</div>
            <a href="questionForm" class="flex items-center active-nav-link text-white py-6 pl-6 nav-item font-bold font-family-karla">
                <i class=" mr-3"></i>
                Add Questions
            </a>
            <a href="getQuestion" class="flex items-center text-white opacity-75 hover:opacity-100 py-6 pl-6 nav-item font-bold font-family-karla">
                <i class=" mr-3"></i>
                View Questions
            </a>
            <a href="statistics.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-6 pl-6 nav-item font-bold font-family-karla">
                <i class="  mr-3"></i>
                Statistics
            </a>
            <a href="class.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-6 pl-6 nav-item font-bold font-family-karla">
                <i class="  mr-3"></i>
                Class
            </a>
        </nav>
    </aside>
    

        <h2 style="font-family: Title; font-size: 70px;" class="ml-64 mt-10">Add Questions</h2>
        
            <br> <br>


            <div class="bg-white rounded w-6/12 px-40 py-20 text-center shadow-md ml-64">
                <form id="submit-question" method="post" action="/submitQuestion" class="w-full max-w-full">
                    <br><br>
                    <div class="flex flex-wrap -mx-40 mb-6">
                        <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                            Module
                            </label>
                            <div class="relative">
                                <select name="module" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                <%
                                        var list = '';
                                        console.log(questionSub);
                                        for(i = 0; i < questionSub.length; i++){
                                            list += "<option>" + questionSub[i] + "</option>";
                                        };
                                    %>
                                    <%- list %>
                                </select>
                            
                                
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                        
                      
                      <div class="w-full md:w-1/5 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                          Week
                        </label>
                        <div class="relative">
                          <select name="week" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Hey">
                          <option>5/6</option>
                          <option>12/6</option>
                          <option>19/6</option>
                          <option>26/6</option>
                          <option>3/7</option>
                          <option>10/7</option>
                          <option>17/7</option>
                          <option>24/7</option>
                          <option>31/7</option>
                          </select>
                          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                          </div>
                        
                      </div>

                      
                    </div>
                      <div class="w-full md:w-3/5 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                          Question
                        </label>
                        <input name="question" class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Which country is the largest in the world?">
                      </div>
                    </div>

                    <div class="flex flex-wrap -mx-40 mb-6">
                      <div class="w-full md:w-4/5 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                          Answer
                        </label>
                        <input name="answer" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Russia">
                      </div>
                      <div class="w-full md:w-1/5 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                          Difficulty
                        </label>
                        <div class="relative">
                          <select name="difficulty" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Hey">
                          <option>Easy</option>
                          <option>Medium</option>
                          <option>Hard</option>
                          </select>
                          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                          </div>
                        
                      </div>
                    </div>
                    
                    </div>

                    <div class="flex flex-wrap -mx-40 mb-6">
                      <div class="w-full md:w-5/5 px-3 mb-6 md:mb-6">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                          Wrong option 1
                        </label>
                        <input onkeypress="CheckWritten1()" name="wrong1" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Poland">
                      </div>

                      <div class="w-full md:w-5/5 px-3 mb-6 md:mb-6" style='display:none;' id="wrong2">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                          Wrong option 2
                        </label>
                        <input onkeypress="CheckWritten2()" name="wrong2" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Portugal">
                      </div>

                      <div class="w-full md:w-5/5 px-3 mb-6 md:mb-6" style='display:none;' id="wrong3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                          Wrong option 3
                        </label>
                        <input onkeypress="CheckWritten3()" name="wrong3" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Nigeria">
                      </div>

                      <div class="w-full md:w-5/5 px-3 mb-6 md:mb-0" id="wrong4" style='display:none;'>
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                          Wrong option 4
                        </label>
                        <input  name="wrong4" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Colombia">
                      </div>
                    </div>

                    

                    <br> <br>
                    <div>
                      <button onclick="" type="submit" class="bg-transparent hover:bg-blue-500 text-blue-700 text-sm font-semibold hover:text-white py-4 px-8 border border-blue-500 hover:border-transparent rounded">
                        Submit
                      </button>
                    </div>

                  </form>
            </div>
            
            
         
        
 
        <script src="js/app.js"></script>

        <!-- Function to start default placeholder for week field --> 
        <script>
            function getWeek() {

            }
        </script>

        <!-- Function for button reports - give redirect -->
        <script>
          function redirectReport() {
            location.replace("https://ww")
          }
        </script>

        <!-- Function on submit form -->
        <script>
          // get elements from form 
          var formData = document.getElementById("submit-question"); 
          const formDataTry = new FormData(formData)
          const jsonData = JSON.stringify((formData.elements)); 
          //var formJson = JSON.stringify($('#submit-question').serializeArray());
        </script>

    </body>

</html>
