<!DOCTYPE html>  
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="./dist/style.css" />
        <title>Flappy Fish</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
    
        <h2 style="font-family: Title; font-size: 70px;" class="mt-10">Student Registered!</h2>
        
            <br> <br>


            <div class="bg-white rounded w-6/12 px-40 py-20 text-center shadow-md">
                <p style="color:black;"> Your account details and subscriptions to classes have been received. </p>
                <p style="color:black;">Log in the Flappy Fish app and you are ready to go!</p>
            </div>
            
            <img class="p-4" src="dolly-fish-web.png" alt="Italian Trulli"> 
    </body>

</html>
